.flex-box {
  position: relative;
  display: grid;
  list-style-type: none;
}

.flex-box .floating-item {
  position: relative;
}

img {
  width: auto;
}

.floating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  position: absolute;
  text-align: center;
}

.item1 {
  animation: bounce1 6s infinite linear;
  color: yellow;
}

.item2 {
  animation: bounce2 6s infinite linear;
  color: rgb(255, 75, 75);
}

.item3 {
  animation: bounce3 6s infinite linear;
  color: rgb(0, 247, 255);
}

.item4 {
  animation: bounce4 6s infinite linear;
  color: white;
}

.item5 {
  animation: bounce5 6s infinite linear;
  color: rgb(0, 250, 0);
}

.item6 {
  animation: bounce6 6s infinite linear;
  color: rgb(171, 0, 250);
}

@keyframes bounce1 {
  0%,
  100% {
    transform: translate(-67%, -28%);
  }
  25% {
    transform: translate(75%, 60%);
  }
  50% {
    transform: translate(32%, -54%);
  }
  75% {
    transform: translate(-98%, -34%);
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translate(7%, -9%);
  }
  25% {
    transform: translate(-89%, -70%);
  }
  50% {
    transform: translate(-40%, 53%);
  }
  75% {
    transform: translate(68%, -65%);
  }
}

@keyframes bounce3 {
  0%,
  100% {
    transform: translate(-44%, 4%);
  }
  25% {
    transform: translate(9%, 5%);
  }
  50% {
    transform: translate(-1%, 2%);
  }
  75% {
    transform: translate(8%, -45%);
  }
}

@keyframes bounce4 {
  0%,
  100% {
    transform: translate(-90%, 2%);
  }
  25% {
    transform: translate(-53%, 46%);
  }
  50% {
    transform: translate(-5%, 36%);
  }
  75% {
    transform: translate(-68%, -71%);
  }
}

@keyframes bounce5 {
  0%,
  100% {
    transform: translate(-32%, -36%);
  }
  25% {
    transform: translate(52%, 4%);
  }
  50% {
    transform: translate(77%, 67%);
  }
  75% {
    transform: translate(2%, 40%);
  }
}

@keyframes bounce6 {
  0%,
  100% {
    transform: translate(-80%, 2%);
  }
  25% {
    transform: translate(-40%, 30%);
  }
  50% {
    transform: translate(-5%, 6%);
  }
  75% {
    transform: translate(-60%, -50%);
  }
}

@keyframes bounce3mobile {
  0%,
  100% {
    transform: translate(-84%, 3%);
  }
  25% {
    transform: translate(-80%, -47%);
  }
  50% {
    transform: translate(-113%, 33%);
  }
  75% {
    transform: translate(-100%, -45%);
  }
}

@keyframes bounce4mobile {
  0%,
  100% {
    transform: translate(-90%, 2%);
  }
  25% {
    transform: translate(-53%, 30%);
  }
  50% {
    transform: translate(-5%, 6%);
  }
  75% {
    transform: translate(-68%, -71%);
  }
}

@keyframes bounce5mobile {
  0%,
  100% {
    transform: translate(-32%, -36%);
  }
  25% {
    transform: translate(52%, 4%);
  }
  50% {
    transform: translate(77%, 20%);
  }
  75% {
    transform: translate(2%, 7%);
  }
}

@media (max-width: 425px) {
  .floating-item {
    font-size: 0.6rem;
    font-weight: 500;
  }
}

@media (min-width: 425px) {
  .floating-item {
    font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  .flex-box {
    grid: auto-flow dense / 10px 50px 1fr;
  }

  .flex-box h2 {
    font-size: 1rem;
  }

  .item3 {
    animation: bounce3mobile 6s infinite linear;
  }

  .item4 {
    animation: bounce4mobile 6s infinite linear;
  }

  .item5 {
    animation: bounce5mobile 6s infinite linear;
  }

  img {
    height: 10vw;
  }
}

@media (min-width: 577px) {
  .flex-box {
    grid: auto-flow dense / 60px 40px 1fr;
  }

  .item3 {
    animation: bounce3mobile 6s infinite linear;
  }

  .item4 {
    animation: bounce4mobile 6s infinite linear;
  }

  .item5 {
    animation: bounce5mobile 6s infinite linear;
  }

  .floating-item {
    font-size: 0.7rem;
  }

  img {
    height: 4.5vw;
  }
}

@media (min-width: 768px) {
  .flex-box {
    grid: auto-flow dense / 60px 40px 1fr;
  }

  .item3 {
    animation: bounce3 6s infinite linear;
  }

  .item4 {
    animation: bounce4 6s infinite linear;
  }

  .floating-item {
    font-size: 0.7rem;
  }

  img {
    height: 4.5vw;
  }
}

@media (min-width: 992px) {
  .flex-box {
    grid: auto-flow dense / 60px 40px 1fr;
  }

  .floating-item {
    font-size: small;
  }

  img {
    height: 4.5vw;
  }
}

@media (min-width: 1200px) {
  .flex-box {
    grid: auto-flow dense / 60px 80px 1fr;
  }

  .item5 {
    animation: bounce5 6s infinite linear;
  }

  img {
    height: 4.5vw;
  }
}
